@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: rgb(247, 71, 71);
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    justify-content:end;
    align-content: center;
}
#navbar > a{
    padding: 25px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: white;
    background-size:contain;
    font-weight:600;
}
#navbar a:hover{
    background-color: grey;

}
maina{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
    background-color: #35363A;
    justify-content: center;
    align-items: center;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(65deg, #080e2293 0%, #35363A 100%);
    background-color: #35363A;
    justify-content: center;
    align-items: center;
}
#welcome-section h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3.5em;
}
#welcome-section p{
    color: rgba(247, 71, 71, 0.849);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2em;
}
#projects{
    display: flex;
    flex-direction: column;
    background-color: #44567C;
    padding: 15px 25px;
}
#projects h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3em;
    border-bottom: 1px solid white;
    margin: 0 auto 50px auto;
    padding: 100px 0 15px 0;
}
#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
grid{
    display: grid;
    width: 100%;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: "pj1 pj2 pj3"
                         "pj4 pj5 pj6";
    grid-gap: 25px;
    justify-content: center;
    align-content: center;
}
.project-tile{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.2em;

}
.project-image{
    height: calc(100% - 80px);
    width: 100%;
    object-fit: cover;
}
.project-tile p{
    background-color: rgb(95, 91, 91);
    padding: 15px 5px 15px 5px;
    margin-block-start: -5px;
    margin-block-end: 0;
}
#code{
    display: inline;
    color: rgb(95, 91, 91);
}
.project-tile:hover #code{
    color: orange;
}
#show{
    margin: 15px auto 60px auto;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 2em;
    background-color: rgb(80, 79, 79);
    border-radius: 3px;
}
#show:hover{
    transition: transform 0.3s ease-in;
    background-color: red;
    transform: scale(1.1);
}
#contact{
    background-color: #303942;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid red;
}
#contact h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 50px 15px 5px 15px;
    font-size: 3.5em;
}
#contact p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
    padding: 5px 15px 30px 15px;
    font-size: 1.3em;  
}
#contact a{
    text-decoration: none;
    color: white;
}
#contact li{
    list-style: none;
    padding: 30px 15px 80px 15px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
#contact li:hover{
    transition: transform 0.3s ease-in-out;
    transform: translateY(8px);
}
footer{
    background-color: #303942;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 45px 15px;
}
footer p{
    color: white;
    font-size: 1.3em;
}
footer a{
    text-decoration: none;
    color: white;
}
@media (max-width:500px){
    #navbar{
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: center;
        z-index: 10;
    }
    #projects h1{
        text-align: center;
        font-size: 2.2em;
    }
    #contact h1{
        text-align: center;
        font-size: 2em;
    }
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer p{
        padding: 15px;
    }
}